
.book-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #f3f3f3, #e2e2e2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-detail-image {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book-detail-information {
    text-align: center;
}

.book-detail-information h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
    color: #393280;
}

.book-detail-information p {
    font-size: 1.1em;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    color: #555;
}

.book-detail-information strong {
    font-weight: bold;
    color: #393280;
}
